spring:
  application:
    name: email-service

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
    debug: true

  thymeleaf:
    cache: false
    mode: HTML
    encoding: UTF-8

springdoc:
  swagger-ui:
    path: /api/docs

app:
  mail:
    rate-limit:
      enabled: false

  cors:
    allowed-origins:
      - https://assurantis.be

server:
  port: 8080

logging:
  level:
    com.gilmotech.emailservice: DEBUG
    org.springframework.mail: DEBUG
